@import "../../../data/styles.css";

.homepage-article {
	display: flex;
}

.homepage-article a {
	text-decoration: none;
}

.homepage-article-content {
	padding: 30px;
	border-radius: 20px;
	transition: background-color 0.3s ease-in-out;
}

.homepage-article-content:hover {
	background: var(--quaternary-color);
}

.homepage-article-date {
	color: var(--tertiary-color);
	font-size: 12px;
	margin-bottom: 5px;
}

.homepage-article-title {
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 600;
}

.homepage-article-description {
	color: var(--secondary-color);
	font-size: 12px;
	margin-top: 10px;
	line-height: 25px;
}

.homepage-article-link {
	color: var(--link-color);
	font-size: 14px;
	font-weight: 700;
	margin-top: 10px;
}
