@import "../../data/styles.css";

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.projects-title {
	color: var(--primary-color);
}

.projects-subtitle {
	color: var(--secondary-color);
	width: 70%;
	margin-bottom: 2rem;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

@media (max-width: 1024px) {
	.projects-subtitle {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.projects-project {
		width: calc(100% / 2);
	}
}
