@import "../../../data/styles.css";

.footer {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	align-items: center;
}

.footer-links,
.footer-credits {
	flex-basis: 50%;
}

.footer-nav-link-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	flex-wrap: wrap;
}

.footer-nav-link-item {
	font-weight: bold;
	font-size: 80%;
	white-space: nowrap;
}

.footer-nav-link-list a {
	text-decoration: none;
	color: var(--secondary-color);
}

.footer-nav-link-list a:hover {
	color: var(--link-color);
}

.footer-credits-text {
	justify-content: flex-end;
	color: var(--tertiary-color);
	font-size: 14px;
	text-align: right;
}

@media (max-width: 600px) {
	.footer {
		flex-direction: column;
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.footer-links {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 0 20px;
	}

	.footer-nav-link-list {
		width: 100%;
		justify-content: center;
		gap: 16px;
		padding: 0;
	}

	.footer-nav-link-item {
		font-size: 12px;
	}
}
