@import "../../data/styles.css";

.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	margin-top: 120px;
}

.about-main {
	display: flex;
	gap: 2rem;
}

.about-right-side {
	flex: 1;
	max-width: 900px;
}

.about-title {
	width: 100% !important;
}

.about-subtitle {
	width: 100% !important;
}

.about-left-side {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 370px;
}

.about-image-container {
	width: 100%;
}

.about-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-radius: 10%;
	transform: rotate(3deg);
}

.about-image-wrapper img {
	display: block;
	width: 100%;
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-container {
		margin-top: 80px;
	}

	.about-main {
		flex-direction: column;
		gap: 1.5rem;
		padding: 1.5rem 0;
	}

	.about-subtitle {
		padding-top: 20px !important;
	}

	.about-left-side {
		width: min(300px, 80vw);
		margin: 0 auto;
		order: 1;
	}

	.about-right-side {
		width: 100%;
		order: 2;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		padding-top: 30px;
		display: flex;
	}
}

@media (max-width: 480px) {
	.about-container {
		margin-top: 70px;
	}

	.about-main {
		padding: 1rem 0;
		gap: 1rem;
	}

	.about-left-side {
		width: min(250px, 70vw);
	}
}
