@import "../../data/styles.css";

.contact-logo-container {
	display: flex;
	justify-content: left;
}

.contact-logo {
	display: flex;
	position: fixed;
	border: 1px solid var(--background-color);
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 3vh;
}

.contact-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.contact-title {
	color: var(--primary-color);
}

.contact-subtitle {
	color: var(--secondary-color);
	width: 70%;
	margin-bottom: 2rem;
}

.contact-subtitle a {
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.contact-subtitle a:hover {
	text-decoration: underline;
}

.socials-container {
	margin-top: 2rem;
}

.social-links {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.social-link {
	display: flex;
	align-items: center;
	gap: 15px;
	color: var(--primary-color);
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease-in-out;
}

.social-link:hover {
	color: var(--link-color);
}

.social-icon {
	font-size: 18px;
	width: 18px;
}

.social-link-text {
	color: var(--primary-color);
}

@media (max-width: 1024px) {
	.contact-subtitle {
		width: 100%;
	}
}
