@import "../../../data/styles.css";

.card {
	mix-blend-mode: normal;
	border-radius: 20px;
	outline: 1px solid var(--quaternary-color);
	background-color: var(--background-color);
}

.card-container {
	padding: 30px;
	padding-bottom: 5px;
}

.card-header {
	display: flex;
	align-items: center;
}

.card-icon {
	font-size: 15px;
	color: var(--primary-color);
}

.card-title {
	color: var(--primary-color);
	font-size: 14px;
	padding-left: 20px;
	font-weight: 650;
}

.card-body {
	padding-top: 40px;
	font-size: 15px;
}

.card-body a {
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.card-body a:hover {
	text-decoration: underline;
}

.card-text {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color) !important;
}

.text-link {
	color: var(--link-color) !important;
	text-decoration: none;
	transition: color 0.3s ease;
}

.text-link:hover {
	text-decoration: underline;
}
